
.moviePoster{
    width:15vw;
    align-items: baseline;
    margin-top:0;
    
}
.singleMovieContainer{
    font-size:1vw;
    padding:0.4vw;
    align-items: baseline;
    margin-top:0;
}
.moviePageMovieName{
    display:block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size:1.3vw;
    margin-bottom:0;
}