.directorID{
    display: none;
}
.directorName{
    width: inherit;
    display:block;
    align-self: baseline;
}
.directorPic{
    width: 20vw;
    height: min-content;
    margin: 0 auto;
    padding: 0;
    border: 3px solid black;
    border-radius: 5px;
    background-color: #282c34;
    color: white;
    text-align: center;
    
}
@media (max-width:750px){
    .directorPic{
        max-width: 100%;
        height:auto;
    }
}
@media (max-width:500px){
    .directorPic{
        max-width: 100%;
        height:auto;
        
    }
}

@media (max-width:250px){
    .directorPic{
        max-width: 100%;
        height:auto;
        
    }
}